@charset "EUC-KR";

.slider 
{
  overflow: hidden; /* 넘치는 컨텐츠를 숨김 */
  width: 100%; /* 슬라이드 쇼의 너비 설정 */
}

.over 
{
  display: flex; /* 내부 카드를 가로로 배열하기 위해 flex로 설정 */
  overflow-x: auto; /* 가로로 넘치는 경우 스크롤 표시 */
}

.card-deck 
{
  flex: 0 0 auto; /* 스크롤할 때 카드 덱의 크기를 고정 */
  scroll-snap-align: start; /* 스크롤할 때 카드가 스냅되도록 설정 */
  width: 30%; /* 각 카드 덱의 너비 설정 */
}