@charset "EUC-KR";

.fix
{
	position: fixed;
	width: 150px;
	height: 100px;
	top: 75%;
	left: 78%;
	z-index: 99;
}

#talk 
{
	width: 200px;
	height: 200px;
	overflow-y: auto;	
}

.chat-message
{
	padding: 10px 0px 10px 0px;
}

#gptchat
{
  width: 80%;
  border-top: 1px solid #ccc;
}

#userinput
{
	width: 80%;	
}

#submit
{
	width: 20%;	
}

.me
{
  background-color: #f0f0f0;
  padding: 5px 10px;
  margin-bottom: 5px;
  border-radius: 5px;
}