@charset "EUC-KR";

.fix
{
	position: fixed;
	padding-top: 300px;
	top: 65%;
	left: 85%;
	z-index: 99;
}

#talk 
{
	width: 300px;
	height: 200px;
	overflow-y: auto;	
}

.me
{
	border: 1px solid red;
	width: calc(100% - 2px); 
}